<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="fileSystemWatcher"
               type="Module4BCL.FileSystemWatcherConfigurationSection, Module4BCL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
               allowDefinition="Everywhere"
               allowExeDefinition="MachineToApplication"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <fileSystemWatcher culture="en-US">
    <folders>
      <folder name="d:\\testfolder"/>
      <folder name="d:\\testfolder123"/>
    </folders>
    <rules>
      <rule template="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" folder="1st" addIndex="true" addDate="true"/>
    </rules>
  </fileSystemWatcher>
</configuration>